@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-border-default: 0, 0, 0, 0.1;
    --scrollbar-width: 4px;
  }

  body {
    @apply bg-background text-primary;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
